$osborne: (
	"blue": rgba(34, 116, 165, 1),
	"navy": rgba(34, 46, 80, 1),
	"peach": rgba(237, 210, 224, 1),
	"light": rgba(221, 219, 241, 1),
	"dark": rgba(52, 51, 48, 1),
);

h2, h3, h6, h3 span {
	font-family: 'Raleway', sans-serif;
}
h1, h4, p, li, span {
	font-family: 'Crete Round', serif;
}
body {
	background-color: #BCC3DF !important;
}
ul.uses-list li {
	@media (max-width: 575px) {
		margin-left: -1rem;
	}
}